{% extends "layout.html" %}

{% block content %}

    <h1>WebSockets Test</h1>

    <p>
      メッセージ
      <input type="text" id="msg" />
      <button onclick="sendMessage()">送信</button>
    </p>
    <p>
      <div id="variable"></div>
    </p>

    <script>
      var ws;
      /* 下記URLの'ws://'はウェブソケットを使用するため。セキュアアナ通信を行う場合は、'wss://'を使用する */
      ws = new WebSocket("ws://{{ hostName }}:8080/websocket");
      ws.onmessage = function(ev) {
        document.getElementById("variable").innerHTML = ev.data;
        console.log(ev.data);
      };

      function sendMessage() {
        var msg = document.getElementById("msg").value;
        console.log(msg);
        ws.send(msg);
      }
    </script>

    variable : <span id="variable">default</span>
  </body>
</html>
{% end %}